@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.PhoneInput{
  display: flex;
  align-items: center;
}
.PhoneInputCountry{
  display: flex;
    position: relative;
    align-self: stretch;
    align-items: center;
    margin-right: .35em;
}
.PhoneInputCountrySelect{
  position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    width: 85px;
}

.PhoneInputCountryIcon{
  width: 40px;
    height: 30px;
    z-index: 0;
}
.PhoneInputInput{
  z-index: 11;
}
input.PhoneInputInput:focus{
  box-shadow: none;
  outline: 0;
  border: 0;
}